.project-section{
    padding:6rem 0;
}
.project-section .section-title{
    text-align: center;
}
.project-section h2{
    margin-bottom: 4rem;  
}
.project_nav {
    display: none;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.project_nav a{
    font-family: var(--roboto-font-family);
    font-size: 14px;
    font-weight: 400;
    color: var(--grey-color);
    border-radius: 30px;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}
#active-project{
    font-weight: 700;
    color: #000;
}
.project_nav a span{
    background-color: var(--grey-color);
    color: #fff;
    padding: 6px 8px;
    font-size: 10px;
    border-radius: 50%;
    top: -25px;
    position: absolute;
    right: -25px;
}
.project-section .section_row{
    margin-top: 2rem;
}
.project_col{
    width: 100%;
    margin: 0 1.5rem 2rem 0;
}
.project_col_text{
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    border-radius: 20px;
}
.project_img_box{
    width: 85%;
    height: 260px;
    position: relative;
}
.project_col_text img{
    width:100%;
    border-radius: 20px;
    height: 100%;
}
.project_icon_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    flex-direction: row;
    width: 0;
    border-radius: 20px;
    top:0;
    right: 0;
    position: absolute;
    transition: all 2s;
    overflow: hidden;
}
.project_icon_box:after{
    content: '';
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--grey-color);
    opacity: .9;
    left: 0;
    top: 0;
}
.project_img_box:hover .project_icon_box{
    width: 100%;
}
.project_icon{
    position: relative;
    z-index: 3;
}
.project_icon #eye-lid{
    position: absolute;
    width: 34px;
    height: 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.project_icon i{
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
#git_icon_one{
    margin-bottom: 0;
}
.project_col_text  .project_title{
    margin-top: 25px;
    text-align: center;
    font-family: var(--roboto-font-family);
}
.project_col_text .project_title span{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--grey-color);
}
.project_col_text .project_title p{
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--grey-color);
}
